body{ background-color:#f2f4f4}

html, body{ height:100%}

img{ max-width:100%;  max-height:100%}

@media (max-width:767px){ body{ min-width:320px}
}

.header{ background-color:white;  border-bottom:solid 1px #e8e8e8;  margin:0 0 15px 0}

.content{}

.usluga h2{ color:#0373bb}

.logoName{ float:right;  padding:5px}

.row .container{ height:100%}

.usluga{ background-color:white;  border-radius:20px;  text-align:center;  margin-bottom:30px;  height:100%;  font-size:18px;  font-family:'Exo 2',sans-serif;  padding:5px}

.usluga li{ text-decoration:underline}

.usluga p{ text-indent:2em}

.uslugaImg{ margin-bottom:10px}

.footer{ margin:0 auto;  font-size:15px;  text-align:center;  background:#383838;  color:white}

.details, .details a{ font-style:italic;  font-size:15px;  margin-bottom:10px}

.btn-default{ border-radius:20px;  color:#0373bb}

.zagolovok{ text-align:center;  margin-bottom:40px;  font-family:'Cormorant Garamond',serif;  text-decoration:underline}

.map{ margin:10px 0}

.btn{ border-radius:20px;  background-color:#45c11a;  color:white}

.btn:hover{ color:white;  background-color:#308713}

.desc-info-block{ background:#0ca1d0;  color:white;  text-align:center;  border-radius:20px;  margin-bottom:30px;  height:100%;  font-size:18px;  font-family:'Exo 2',sans-serif;  padding:5px;  padding-top:20px}

.desc-info-block h3{ color:gold}

.enrollment-block{ margin:30px 0;  min-height:80px;  background-color:#4b699d;  color:white;  font-size:20px;  font-family:'Exo 2',sans-serif}

.nav li{ margin:0 20px}

.nav li>a{ font-size:23px;  font-family:'Exo 2',sans-serif}

.dropdown-menu>li>a{ font-size:18px;  font-family:'Exo 2',sans-serif}

.active-link{ color:red !important}

